
<!DOCTYPE HTML>
 
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>IOT</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script th:src="@{../js/jquery.min.js}"></script>
	  <script th:src="@{../js/bootstrap.min.js}"></script>
	  <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}" />
	  <script type="text/javascript" th:src="@{../js/main.js}" src="../static/js/main.js"></script>
	  <script type="text/javascript" th:src="@{../js/get.js}" src="../static/js/get.js"></script>
	  <script type="text/javascript" th:src="@{../js/jqueryAjaxGet.js}" src="../static/js/jqueryAjaxGet.js"></script>
	  <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" />
</head>

  <body dir="rtl">
  
    <th:block th:include="/_menu"></th:block>
 <div class="pad"></div>
 
    <div class="container">
      <!-- Include _menu.html -->
      
       
      <h1>Access-Denied</h1>
       
    
       
			
			</div>
   </body>
</html>