
<!DOCTYPE HTML>
 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    
<head>
    <title>Error</title>
    <script th:src="@{../js/jquery.min.js}"></script>
	  <script th:src="@{../js/bootstrap.min.js}"></script>
	  <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}" />
	  <script type="text/javascript" th:src="@{../js/main.js}" src="../static/js/main.js"></script>
	  <script type="text/javascript" th:src="@{../js/get.js}" src="../static/js/get.js"></script>
	  <script type="text/javascript" th:src="@{../js/jqueryAjaxGet.js}" src="../static/js/jqueryAjaxGet.js"></script>
	  <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" />

</head>

  <body dir="rtl">
  
    <th:block th:include="/_menu"></th:block>
 <div class="pad"></div>
 
    <div class="container">
      <!-- Include _menu.html -->
   
       
      <h1 style="float: left" >Error</h1>
       
    <h2>[[${messege}]]</h2>
       

			</div>

   </body>
</html>