
<!DOCTYPE HTML>
 
<html xmlns:th="http://www.thymeleaf.org">
<head>
      <title>ICT Sarem</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <script src="../js/jquery.min.js"></script>
       <script src="../js/jquery.PrintArea.js"></script>
       <script src="../js/get.js"></script>
       <script src="../js/report.js"></script>
        <script src="../js/js-persian-cal.min.js"></script>
	  <script src="../js/bootstrap.min.js"></script>
	  <script type="text/javascript" th:src="@{../js/main.js}" src="../static/js/main.js"></script>
	  <script src="../js/jquery.table2excel.js"></script>
	  <script src="../js/jquery.table2excel.min.js"></script>
	  <script type="text/javascript" th:src="@{../js/jqueryAjaxGet.js}" src="../static/js/jqueryAjaxGet.js"></script>
	  <link rel="stylesheet" href="../css/js-persian-cal.css" />
      <link rel="stylesheet" href="../css/bootstrap.min.css" />
	  <link rel="stylesheet" type="text/css" th:href="@{../css/style.css}" />
</head>

 <style>
       body {
	background-color: #001a33; 
}
#con {
background-color: #FFFFFF;
}
      table th, table td {
         padding: 5px;
         direction: rtl;
      }
      .message {
         color: blue;
      }
   </style>
  <body dir="rtl">
  
    <th:block th:include="/_menu"></th:block>
 <div class="pad"></div>
 
 
    <div class="container" id="con">
      <!-- Include _menu.html -->
      <center>
     <div class="row" style="margin-top: 10px;">
     	<div class="form-group col-sm-4" >
     	تعداد کل گزارشات  :   [[${total}]]
     	</div>
     	<div class="form-group col-sm-4" >
     	تعداد انجام شده ها    :  [[${right}]]
     	</div>
     	<div class="form-group col-sm-4" >
     	تعداد انجام نشده ها   :  [[${bad}]]
     	</div>
    </div>
    </center>
      <hr/>
      <form action="/report" method="get">
    <div class="row">
			
	<div class="form-group col-sm-2" >
    <input type="submit" class="btn btn-info" value="جست و جو" >
	</div>
	<div class="form-group col-sm-3" >
    <input type="text" class="form-control" name="to" id="pcal2" placeholder="تا تاريخ" /> 
	</div>
	<div class="form-group col-sm-3" >
    <input type="text" class="form-control" name="from" id="pcal1" placeholder="از تاريخ" /> 
	</div>
	<div class="form-group col-sm-2">
	<select class="form-control" id="findbyState" name="keyword">
			<option value=""></option>
          <option th:each="state : ${states}" th:value="${state.name}" th:text="${state.name}"></option>
          <option value="سایر">سایر</option>
          </select>
    </div>
    <div class="form-group col-sm-2" >
    <select class="form-control" id="job" name="job">
			<option value=""></option>
          <option th:each="job : ${jobs}" th:value="${job.name}" th:text="${job.name}"></option>
          </select> 
	</div>
    </div>
	</form>
	
	<table class="table table-hover">
      <thead>
            <tr style="font-size: 16px;font-weight: bold;">
              <td>ردیف</td>
               <td>مراجعه کننده</td>
               <td>دسته بندی</td>
               <td>بخش</td>
               <td>نوع مراجعه</td>
               <td>پیگیری کننده</td>
               <td>توضیحات</td>
               <td>نتیجه</td>
               <td>تاریخ</td>
               <td>ساعت</td>
            </tr>
            </thead>
            <tbody>
            
            <tr th:each ="report,s : ${reports}">
            	<td th:utext="${s.count}">...</td>
            	<td th:utext="${report.client}">...</td>
            	<td th:utext="${report.state}">...</td>
            	<td th:utext="${report.location}">...</td>
               <td th:utext="${report.type}">...</td>
               <td th:utext="${report.username}">...</td>
               <td th:utext="${report.description}" width="120px">...</td>
               
               <th:block th:if="${report.is_complete}">
               <td><span style="color: green; font-size: 30px">&#10003;</span></td>
               </th:block>
               <th:block th:if="${report.is_complete} == null">
               <td><span style="color: red; font-size: 30px">&#10008;</span></td>
               </th:block>
               <td th:utext="${report.d_date}">...</td>
			   <td th:utext="${report.d_time}">...</td>
            </tr>
            
            </tbody>
      </table>
	
			<button onclick="ttoexcel()" class="btn btn-info">Export to XLS</button>

	
	
	</div> 
	<script>
	var objCal1 = new AMIB.persianCalendar( 'pcal1',
		{ extraInputID: "extra", extraInputFormat: "YYYYMMDD" }
	);
 
		function fun(){
			$('#tahvil').on('click',function(e){
				e.preventDefault();
		$('#pcal1').show(1000);
			});
			$('.zz').on('click',function(e){
				e.preventDefault();
				$('#pcal1').hide(1000);
						
			});
		}
var objCal2 = new AMIB.persianCalendar( 'pcal2',
		{ extraInputID: "extra", extraInputFormat: "YYYYMMDD" }
	);
 
		function fun(){
			$('#tahvil').on('click',function(e){
				e.preventDefault();
		$('#pcal2').show(1000);
			});
			$('.zz').on('click',function(e){
				e.preventDefault();
				$('#pcal2').hide(1000);
						
			});
		}

</script>
<script>
			
				function ttoexcel(){
					
						$('.table').table2excel({
							exclude: ".noExl",
							name: "Excel Document Name",
							filename: "Report" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
							fileext: ".xls",
							exclude_img: true,
							exclude_links: true,
							exclude_inputs: true
						});
					}
			
		</script>
   </body>
</html>